:root, :host{
  --nl-red: #b80000;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "ReithSans" !important;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
main{
    margin-top: 51px;
    padding: 1em;
    margin-bottom: 41px;
}
@font-face {
  font-display: swap;
  font-family: "ReithSans";
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Rg.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Rg.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-style: italic;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_It.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_It.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-weight: bold;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Bd.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Bd.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-style: italic;
  font-weight: bold;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_BdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_BdIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-weight: 300;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Lt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Lt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-style: italic;
  font-weight: 300;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_LtIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_LtIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-weight: 500;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Md.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_Md.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-style: italic;
  font-weight: 500;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_MdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_MdIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-weight: 800;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_ExBd.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_ExBd.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSans";
  font-style: italic;
  font-weight: 800;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_ExBdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSans_W_ExBdIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Rg.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Rg.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-style: italic;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_It.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_It.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-weight: bold;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Bd.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Bd.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-style: italic;
  font-weight: bold;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_BdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_BdIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-weight: 300;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Lt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Lt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-style: italic;
  font-weight: 300;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_LtIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_LtIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-weight: 500;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Md.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_Md.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-style: italic;
  font-weight: 500;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_MdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_MdIt.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-weight: 800;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_ExBd.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_ExBd.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "ReithSerif";
  font-style: italic;
  font-weight: 800;
  src: url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_ExBdIt.woff2") format("woff2"),
  url("https://gel.files.bbci.co.uk/r2.511/BBCReithSerif_W_ExBdIt.woff") format("woff");
}
/* these need <html class=newslabs-bootstrap> to activate them */
.newslabs-bootstrap .btn {
    padding: 0.375rem .75rem 0.175em;
}
.newslabs-bootstrap .btn-outline-primary {
    color: var(--nl-red);
    border-color: var(--nl-red);
}
.newslabs-bootstrap .btn-outline-primary:hover {
    color: #fff;
    background-color: var(--nl-red);
    border-color: var(--nl-red);
}
